/* Large Screen  */

@media only screen and (min-width: 1366px) and (max-width: 1500px) {
    
.stqzoipthkavdzj {
    padding: 60px 0 0 45px;
}
.dedccevziwf {
	margin-top: -130px;
}
    

 .dedccevziwf h2 {
	font-size: 28px;
    margin: 20px 0 30px;
}   

.header-btn a {
	padding: 15px 40px 16px 40px;
}
    
.cafpciyztaprrgx .wdsahtkohtaraa , .prwuoqexvrxvku .wdsahtkohtaraa {
	padding-left: 45px;
	padding-right: 45px;
}   
.xprwpdjrohwzli .oushrqcisda , .fuojqzuitaryoii .oushrqcisda {
	margin-right: -15px;
	margin-left: -15px;
}    
.xprwpdjrohwzli .oushrqcisda div[class^="col-"] , .fuojqzuitaryoii .oushrqcisda div[class^="col-"] {
	padding-left: 15px;
	padding-right: 15px;
}    
.evxtigqesvitsq {
	padding: 20px 15px 20px 15px;
}
.yguayrkqyeshjk , .wujjweixkdevp {
	padding: 0px 0;
}
.gflikrslzdzcwo p {
	width: 81%;
}    
.gflikrslzdzcwo h2 {
	font-size: 40px;
}    
.flgwwtyfczj h2 {
	font-size: 50px;
}    
.daitvfoztrixjo {
	height: 650px;
}    
    
    
    
    
    
    
    
}


/* Laptop Screen  */

@media only screen and (min-width: 1200px) and (max-width: 1365px) {
    
    .stqzoipthkavdzj {
    padding: 60px 0 0 45px;
}
.dedccevziwf {
	margin-top: -130px;
}
    
.daitvfoztrixjo {
	height: 650px;
}

.dedccevziwf h2 {
	font-size: 25px;
    margin: 20px 0 30px;
}   
    
.cafpciyztaprrgx .wdsahtkohtaraa , .prwuoqexvrxvku .wdsahtkohtaraa {
	padding-left: 45px;
	padding-right: 45px;
}   
.xprwpdjrohwzli .oushrqcisda , .fuojqzuitaryoii .oushrqcisda {
	margin-right: -15px;
	margin-left: -15px;
}    
.xprwpdjrohwzli .oushrqcisda div[class^="col-"] , .fuojqzuitaryoii .oushrqcisda div[class^="col-"] {
	padding-left: 15px;
	padding-right: 15px;
}    
.evxtigqesvitsq {
	padding: 20px 15px 20px 15px;
}
.gflikrslzdzcwo p {
	width: 66%;
}    
.gflikrslzdzcwo h2 {
	font-size: 40px;
}    
.flgwwtyfczj h2 {
	font-size: 50px;
}        
.evxtigqesvitsq h3 {
	font-size: 16px;
}    
.header-btn a {
	padding: 15px 40px 16px 40px;
}    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}


/* desktop :992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    
        .stqzoipthkavdzj {
    padding: 60px 0 0 45px;
}
.dedccevziwf {
	margin-top: 0px;
}
    
.daitvfoztrixjo {
	height: 650px;
}
    

 .dedccevziwf h2 {
	font-size: 25px;
}   
    
.cafpciyztaprrgx .wdsahtkohtaraa , .prwuoqexvrxvku .wdsahtkohtaraa {
	padding-left: 45px;
	padding-right: 45px;
}   
.xprwpdjrohwzli .oushrqcisda , .fuojqzuitaryoii .oushrqcisda {
	margin-right: -15px;
	margin-left: -15px;
}    
.xprwpdjrohwzli .oushrqcisda div[class^="col-"] , .fuojqzuitaryoii .oushrqcisda div[class^="col-"] {
	padding-left: 15px;
	padding-right: 15px;
}    
.evxtigqesvitsq {
	padding: 20px 15px 20px 15px;
    min-height: 270px;
}
.gflikrslzdzcwo p {
	width: 66%;
}    
.gflikrslzdzcwo h2 {
	font-size: 40px;
}    
.flgwwtyfczj h2 {
	font-size: 50px;
}        
.evxtigqesvitsq h3 {
	font-size: 16px;
}    
.header-btn a {
	padding: 17px 35px 18px 35px;
}    
.dedccevziwf h2 {
	margin: 25px 0 30px;
}    
.tlqreaewkc span {
	padding: 7px 12px;
}   
.gflikrslzdzcwo.syuudiizfxel.fjzulrtvorvaj {
	padding-bottom: 50px;
}    
.flgwwtyfczj.syuudiizfxel.fjzulrtvorvaj {
	padding-bottom: 50px;
}    
    
    
    
    
    
    
    
    
}


/* Tablet :768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {
    

.stqzoipthkavdzj {
    padding: 60px 0 0 45px;
}
.dedccevziwf {
	margin-top: 0px;
}
    
.daitvfoztrixjo {
	height: 550px;
} 
    
    
.dedccevziwf h2 {
	font-size: 22px;
}   
    
.cafpciyztaprrgx .wdsahtkohtaraa , .prwuoqexvrxvku .wdsahtkohtaraa {
	padding-left: 45px;
	padding-right: 45px;
}   
.xprwpdjrohwzli .oushrqcisda , .fuojqzuitaryoii .oushrqcisda {
	margin-right: -15px;
	margin-left: -15px;
}    
.xprwpdjrohwzli .oushrqcisda div[class^="col-"] , .fuojqzuitaryoii .oushrqcisda div[class^="col-"] {
	padding-left: 15px;
	padding-right: 15px;
}    
.evxtigqesvitsq {
	padding: 20px 15px 20px 15px;
    min-height: 270px;
}
.gflikrslzdzcwo p {
	width: 66%;
}    
.gflikrslzdzcwo h2 {
	font-size: 40px;
}    
.flgwwtyfczj h2 {
	font-size: 45px;
}        
.evxtigqesvitsq h3 {
	font-size: 16px;
}    
.header-btn a {
	padding: 17px 35px 18px 35px;
}    
.dedccevziwf h2 {
	margin: 25px 0 30px;
}    
.tlqreaewkc span {
	padding: 7px 12px;
}   
.gflikrslzdzcwo.syuudiizfxel.fjzulrtvorvaj {
	padding-bottom: 50px;
}    
.flgwwtyfczj.syuudiizfxel.fjzulrtvorvaj {
	padding-bottom: 50px;
}    
.glrvjuuptzzwr {
	margin-left: 20px;
} 
.qcwlcowzclu , .grztposezvycszk {
	min-height: 420px;
}    
    
.support-lists {
    right: 38px;
    width: 40px;
    top: 75%;
}    
    
    
    
    
    
    
}


/* Large Mobile :480px. */

@media only screen and (max-width: 767px) {
  
.daitvfoztrixjo {
	height: 480px;
}
.dedccevziwf {
	margin-top: 0;
}
.stqzoipthkavdzj {
    padding: 30px 0 0 15px;
}
    
.dedccevziwf h2 {
	font-size: 20px;
    line-height: 30px;
}   
.stqzoipthkavdzj nav ul li {
    margin: 0 15px 0 0;
}    
.cafpciyztaprrgx .wdsahtkohtaraa , .prwuoqexvrxvku .wdsahtkohtaraa {
	padding-left: 15px;
	padding-right: 15px;
}   
.xprwpdjrohwzli .oushrqcisda , .fuojqzuitaryoii .oushrqcisda {
	margin-right: -15px;
	margin-left: -15px;
}    
.xprwpdjrohwzli .oushrqcisda div[class^="col-"] , .fuojqzuitaryoii .oushrqcisda div[class^="col-"] {
	padding-left: 15px;
	padding-right: 15px;
}    
.evxtigqesvitsq {
	padding: 20px 15px 20px 15px;
    min-height: 270px;
}
.gflikrslzdzcwo p {
	width: 100%;
}    
.gflikrslzdzcwo h2 {
	font-size: 23px;
    letter-spacing: 0;
    margin: 0 0 15px;
}    
.flgwwtyfczj h2 {
	font-size: 25px;
}
.qstzrwxyazqeaf h4 {
	font-size: 20px;
	margin: 15px 0 0;
}
.evxtigqesvitsq h3 {
	font-size: 16px;
}    
.header-btn a {
	padding: 10px 25px 11px 25px;
    font-size: 15px;
}
.dedccevziwf h2 {
	margin: 15px 0 20px;
}    
.tlqreaewkc span {
	padding: 7px 12px;
}   
.gflikrslzdzcwo.syuudiizfxel.fjzulrtvorvaj {
	padding-bottom: 30px;
}    
.flgwwtyfczj.syuudiizfxel.fjzulrtvorvaj {
	padding-bottom: 30px;
}    
.glrvjuuptzzwr {
	margin-left: 0px;
} 
.qcwlcowzclu , .grztposezvycszk {
	min-height: auto;
}
.grztposezvycszk {
	padding: 0px 15px 0px 15px;
}
.qkpowjtkryegxfp h3 {
	font-size: 21px;
}    
.evxtigqesvitsq {
	min-height: auto;
}    
.eyvxeoxaluvyr.scohvgewui {
	padding-bottom: 20px;
}    
.uxfsytxfrxjlia {
	padding-top: 50px;
}
.ehxqtyrsyew.erhkjvlfzyahke {
	padding-bottom: 0;
}
.ehxqtyrsyew.riclihhvaie {
	padding-bottom: 0px;
}
.skrgewclcqz {
	padding: 50px 0px 50px;
}
.qkpowjtkryegxfp h5::after {
	right: -50px;
}    
.qkpowjtkryegxfp h5::before {
	left: -50px;
}    
.wujjweixkdevp {
	padding: 40px 15px;
}    
.ckpvxfrfqiee {
	margin-right: 15px;
	width: 100%;
	margin-left: inherit;
}    
.glrvjuuptzzwr h2, .ckpvxfrfqiee h2 {
	font-size: 24px;
	letter-spacing: 0;
	margin: 0 0 15px;
}    
.glrvjuuptzzwr p, .ckpvxfrfqiee p {
	font-size: 18px;
	margin: 0 0 0px;
}    
.qcwlcowzclu {
	background-position: 85% 50%;
}    
    
.view-demo-area > a {
    right: 200px;
    transform: translate(200px, 0);
    font-size: 12px;
    width: 60px;
    height: 60px;
    padding: 10px 10px 10px;
  }    
    
 .view-demo-area .view-demo-aside-active {
    transform: translate(200px, 0);
    width: 200px;
    padding: 40px 15px;
  }   
   
.view-demo-area .view-demo-aside-active .view-demo-wrap .view-demo-tab-list a {
    margin-bottom: 10px;
  }    
.fpizgwcdvkd .hdwkqzrepzchra {
    margin: 0 0 15px;
  }    
   .support-lists {
    right: 15px;
    width: 50px;
    top: 75%;
  } 
    
    
    
}


/* small mobile :320px. */

@media only screen and (min-width: 576px) and (max-width: 767px) {
    
.rcjrjdxchioqrsw-5 {
	top: 56%;
}
.hero-img-wrap {
	height: 550px;
}    
.view-demo-area > a {
    right: 400px;
    transform: translate(400px, 0);
  }    
  .view-demo-area .view-demo-aside-active {
    transform: translate(400px, 0);
    width: 400px;
}   
    
    
    
}